{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Lists Home
{% endblock %}

{% if user.is_authenticated %}
    {% block content %}
        <h1>{{user.username}}'s To-Do List</h1>
        <form method="post" action="#">
            {% csrf_token %}
            {{form|crispy}}
            <ul>
                {% for item in ls.item_set.all %}
                    {% if item.complete == True %}
                        <li>{{item.text}}<input type="checkbox", value="clicked", name="it{{item.id}}" checked></li>
                    {% else %}
                        <li>{{item.text}}<input type="checkbox", value="clicked", name="it{{item.id}}"></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <button type="submit", name="delete", value="delete">Delete Checked</button>
            <button type="submit", name="save", value="save">Save</button>
            <input type="text", name="new">
            <button type="submit", name="newItem", value="newItem">Add Item</button>
        </form>
    {% endblock %}
{% else %}
    <p>You are not logged in. Please <a href="/login">Login Here</a></p>
{% endif %}